div.hero-unit
	#arena
		h1= title
		p Practice your math skills and compete with others!
		button#mainButton.btn.disabled.btn-primary.btn-large.span2(type='submit') Loading...
#stat
	.progress.progress-striped.active
		#pbar.bar(style='width:0%')
div#otherPlayers.row
div.row
	.span6
		h2 Settings		
		form#settingsForm.form-horizontal	
			.control-group
				label.control-label Difficulty
				.controls
					label.radio
						input(type='radio',checked='checked',value='easy',name='difficulty') 
						|Easy (One-step)
					label.radio
						input(type='radio',value='normal',name='difficulty') 
						|Normal (Two-step, Combining, Distributive Property)
					label.radio
						input(type='radio',value='hard',name='difficulty') 
						|Hard (in progress)
			.control-group
				label.control-label Your name
				.controls
					label.text
						input(type='text', placeholder="Player", name='playerName', maxlength=30)
	div.span6
		h2 Hero Board
		p Scores - Hello world!
		
